SECRET_KEY=<your_secret_key>
NVIDIA_API_KEY=<your_nvidia_api_key>
LANGSMITH_API_KEY=<your_langsmith_api_key>
LANGSMITH_TRACING=True
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# Example: https://api.smith.langchain.com
LANGSMITH_PROJECT=bank-bot
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database_name>
REDIS_URL=redis://localhost:6379
API_BASE_URL=http://localhost:8000
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256
REDIS_HISTORY_TTL=3600
